{{!-- Setup the index.handlebars to have the template that Handlebars can render onto. --}}
<div class="container">
    <!-- As a heading -->
    {{!-- <nav class="navbar navbar-light bg-light">
        <span class="navbar-brand mb-0 h1">Eat-Da-Burger</span>
    </nav> --}}

    <nav class="navbar navbar-light bg-light">
        <span class="navbar-text">
            Eat-Da-Burger
        </span>
    </nav>

        <panel>
            <form class="create-form">
                <div class="form-group"> 
                    <label for="newburger" class="newBurg">Your Juicy Burger</label>
                    <input type="text" id="newburger" name="burger">
                    {{!-- Create a button in index.handlebars that will submit the user input into the database. --}}
                    <button type="submit" class="btn btn-primary" id="addburger"><span class="fas fa-hamburger"></span></button>
                </div>
            </form>
        </panel>

    <div class="jumbotron header">
        <h1></h1>
        <br>

    </div><!-- /jumbotron -->

    <div class="row">
        <!-- Undevoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><strong>Created Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#unless devoured}}
                                <span class="burgername"><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="eatburger btn btn-success" id ="eatbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="fas fa-utensils"></span></button>
                                <hr>
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <!-- Devoured Burgers -->
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="righthead"><strong>Devoured Burgers</strong></div>
                <div class="panel-body">
                    <ul>
                        {{#each burgers}}
                            {{#if devoured}}
                                <span class="burgername"><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                <button type="button" class="trashburger btn btn-dark" id ="trashbutton" data-id="{{this.id}}" data-newDevoured="{{devour}}"><span class="far fa-trash-alt"></span></button>
                                <hr>
                            {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div><!-- /row -->

</div><!-- /container -->